<form {{action 'update' this on="submit"}}>

	<p>
		{{input type='text' value=metalName}}
	</p>

	<p>
		{{input type='text' value=typeName}}
	</p>

	<p>
		{{input type='number' step='1' value=quantity}}
	</p>

	<button>Update</button>
</form>