{{!-- This is the standard file you use (index.handlebars in <name> folder in templates folder) to specify what goes in outlet normally as a readme type thing i.e it renders this page then types.handlebars in templates folder when calling types--}}

<p>Please select a type</p>